doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Easing Sass Function
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(
      name="description",
      content="You can get easing sass function"
    )
    meta(name="keywords", content="easing,sass,scss,function,css")
    link(
      rel="stylesheet",
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Fira+Code&display=swap"
    )
    link(rel="stylesheet", href="style/style.scss")
    link(rel="canonical", href="https://easing-sass-function.dskd.jp")
    include _script

  body
    header.Header
      .Header__inner
        h1.Header__title Easing Sass Function

    main.Main
      svg.Space.-lg(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      h2.Desc Visual Sample

      svg.Space.-sm(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      p.Text Animate on hover a rect.

      svg.Space.-sm(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      .Controller
        .Controller__item
          label(for="Duration").Controller__label duration:
          input.Controller__input-text#Duration(type="number", name="duration", min="100", step="10", value="500")
          span.Controller__suffix ms.
        .Controller__item
          input#Bulk(type="checkbox", name="bulk", checked)
          label(for="Bulk").Controller__label bulk animation

      svg.Space.-sm(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      ul.List.-bulk
        li.List__item.-easeInSine
          span easeInSine
        li.List__item.-easeOutSine
          span easeOutSine
        li.List__item.-easeInOutSine
          span easeInOutSine
        li.List__item.-easeInQuad
          span easeInQuad
        li.List__item.-easeOutQuad
          span easeOutQuad
        li.List__item.-easeInOutQuad
          span easeInOutQuad
        li.List__item.-easeInCubic
          span easeInCubic
        li.List__item.-easeOutCubic
          span easeOutCubic
        li.List__item.-easeInOutCubic
          span easeInOutCubic
        li.List__item.-easeInQuart
          span easeInQuart
        li.List__item.-easeOutQuart
          span easeOutQuart
        li.List__item.-easeInOutQuart
          span easeInOutQuart
        li.List__item.-easeInQuint
          span easeInQuint
        li.List__item.-easeOutQuint
          span easeOutQuint
        li.List__item.-easeInOutQuint
          span easeInOutQuint
        li.List__item.-easeInExpo
          span easeInExpo
        li.List__item.-easeOutExpo
          span easeOutExpo
        li.List__item.-easeInOutExpo
          span easeInOutExpo
        li.List__item.-easeInCirc
          span easeInCirc
        li.List__item.-easeOutCirc
          span easeOutCirc
        li.List__item.-easeInOutCirc
          span easeInOutCirc
        li.List__item.-easeInBack
          span easeInBack
        li.List__item.-easeOutBack
          span easeOutBack
        li.List__item.-easeInOutBack
          span easeInOutBack

      svg.Space.-md(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      h2.Desc Implementation

      svg.Space.-sm(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      .Code
        figure.Code__item
          pre
            code.
              @use &quot;sass:map&quot;;

              $easing-map: (
                easeInSine:     cubic-bezier(0.47, 0, 0.745, 0.715),
                easeOutSine:    cubic-bezier(0.39, 0.575, 0.565, 1),
                easeInOutSine:  cubic-bezier(0.445, 0.05, 0.55, 0.95),

                easeInQuad:     cubic-bezier(0.55, 0.085, 0.68, 0.53),
                easeOutQuad:    cubic-bezier(0.25, 0.46, 0.45, 0.94),
                easeInOutQuad:  cubic-bezier(0.455, 0.03, 0.515, 0.955),

                easeInCubic:    cubic-bezier(0.55, 0.055, 0.675, 0.19),
                easeOutCubic:   cubic-bezier(0.215, 0.61, 0.355, 1),
                easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1),

                easeInQuart:    cubic-bezier(0.895, 0.03, 0.685, 0.22),
                easeOutQuart:   cubic-bezier(0.165, 0.84, 0.44, 1),
                easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1),

                easeInQuint:    cubic-bezier(0.755, 0.05, 0.855, 0.06),
                easeOutQuint:   cubic-bezier(0.23, 1, 0.32, 1),
                easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1),

                easeInExpo:     cubic-bezier(0.95, 0.05, 0.795, 0.035),
                easeOutExpo:    cubic-bezier(0.19, 1, 0.22, 1),
                easeInOutExpo:  cubic-bezier(1, 0, 0, 1),

                easeInCirc:     cubic-bezier(0.6, 0.04, 0.98, 0.335),
                easeOutCirc:    cubic-bezier(0.075, 0.82, 0.165, 1),
                easeInOutCirc:  cubic-bezier(0.785, 0.135, 0.15, 0.86),

                easeInBack:     cubic-bezier(0.6, -0.28, 0.735, 0.045),
                easeOutBack:    cubic-bezier(0.175, 0.885, 0.32, 1.275),
                easeInOutBack:  cubic-bezier(0.68, -0.55, 0.265, 1.55)
              );

              @function easing($name) {
                @return map.get($easing-map, $name);
              }

      svg.Space.-md(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      h2.Heading Usage

      svg.Space.-sm(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      h3.Subheading from git

      svg.Space.-sm(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      p.Text 1) git clone and move to your project.

      svg.Space.-sm(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      figure.Code
        pre.Code__item
          code.
            git clone git@github.com:oti/easing-sass-function.git
            mv easing-sass-function/src/_easing-sass-function.scss your/project/scss/path

      svg.Space.-sm(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      p.Text 2) @use in your .scss file.

      svg.Space.-sm(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      figure.Code
        pre.Code__item
          code.
            @use 'your/project/scss/path/easing-sass-function' as *;

      svg.Space.-md(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      h3.Subheading from npm

      svg.Space.-sm(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      p.Text 1) npm install.

      svg.Space.-sm(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      figure.Code
        pre.Code__item
          code.
            npm i easing-sass-function

      svg.Space.-sm(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      p.Text 2) @use in your .scss file.

      svg.Space.-sm(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      figure.Code
        pre.Code__item
          code.
            @use '../(to project root)/node_modules/easing-sass-function';

      svg.Space.-md(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      h3.Subheading write function

      svg.Space.-sm(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      p.Text 3) write easing() sass function.

      svg.Space.-sm(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      figure.Code
        pre.Code__item
          code.
            .elem {
              transition-timing-function: easing(easeInSine);
            }

      svg.Space.-lg(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

      svg.Space.-lg(viewBox="0 0 1 1", aria-hidden="true")
        rect(width="1", height="1", fill="none")

    footer#footer.Footer
      .Footer__inner
        p.Footer__credit Code by
          a(href="https://github.com/oti", target="_blank", rel="noopener") oti
          | . Inspired by
          |
          a(
            href="https://easings.net/",
            target="_blank",
            rel="noopener"
          ) easings.net

        p.Footer__license
          a(href="https://github.com/oti/easing-sass-function/") GitHub
          | , MIT License
